name: Piyasa Botu (10:00 - 18:30)

on:
  schedule:
    # Hafta içi her gün
    # UTC 07:00 (TR 10:00) ile UTC 15:30 (TR 18:30) arası
    # Her 00 ve 30 geçe çalış.
    - cron: '0,30 7-15 * * 1-5'

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Kodları Çek
        uses: actions/checkout@v3

      - name: Python Kur
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Kütüphaneleri Yükle
        # DEĞİŞİKLİK 1: Selenium silindi, Finnhub eklendi.
        run: pip install firebase-admin requests pandas yfinance beautifulsoup4 tefas-crawler finnhub-python

      - name: Botu Çalıştır
        env:
          FIREBASE_KEY: ${{ secrets.FIREBASE_KEY }}
          CMC_API_KEY: ${{ secrets.CMC_API_KEY }}
          # DEĞİŞİKLİK 2: Finnhub anahtarı eklendi
          FINNHUB_API_KEY: ${{ secrets.FINNHUB_API_KEY }} 
        run: python market_bot.py
